<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/angular.js" charset="utf-8"></script>
    <script src="js/angular-animate.js" charset="utf-8"></script>
    <style media="screen">
        div{
            width: 200px;height: 200px;background: #f00;
            transition: all 500ms ease-in;
            transform-origin: left top;
        }
    </style>
</head>
<body ng-app="app">

    <input type="checkbox" ng-model="flag">
    <div ng-if="flag" class="box">
        this is the box

    </div>
    <script>
        angular.module('app',['ngAnimate'])
            .animation('.box',function($animateCss){
                return {
                    enter:function(element){
                        return $animateCss(element,{
                            from:{width:0,height:0},
                            to:{width:'200px',height:'200px'},
                            duration:0.3
                        })
                    },

                    leave:function(element){
                        return $animateCss(element,{
                            from:{width:'200px',height:'200px'},
                            to:{width:0,height:0},
                            duration:0.2
                        })
                    }
                }
            })
        /*
        ng-enter
        ng-enter-active
        ng-leave
        ng-leave-active

        支持的指令:
            if,view, repeat, include, switch


        ng-hide-remove
        ng-hide-remove-active
        ng-hide-add
        ng-hide-add-active
            支持的指令:
                class, show, hide, model



         */
    </script>


</body>
</html>
